<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title> Detector de Tumor Cerebral</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <a href="{{ url_for('logout') }}" class="logout-btn"> Cerrar sesión</a>

    <h1> Detector de Tumor Cerebral</h1>
    <p class="welcome">Bienvenido, <strong>{{ username }}</strong></p>

    <form action="/predict" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*" required><br>
        <button type="submit"> Predecir</button>
    </form>

    {% if result %}
        <div class="result {% if 'Tumor' in result %}tumor{% else %}no-tumor{% endif %}">
            {{ result }}
        </div>
    {% endif %}

    {% if image_path %}
        <div class="image-preview">
            <p> Imagen analizada:</p>
            <img src="{{ image_path }}" alt="Imagen subida">
        </div>
    {% endif %}


</body>
</html>
